/* index.html  */

/* content styling */
body {
    background: url(../images/blue_flower2.png) no-repeat center;
    background-size: cover;
}

p {
    color: #fff;  
}

.row {
    padding: 30px;
}

.img-fluid {
    float: left;
    margin-right: 15px;
}

.profile_data {
    float: left;
    padding-left: 30px;
    color: #fff;
    position: absolute;
    left: 350px;
}

.jumbotron {
    height: 175px;
}

.blockquote {
    text-align: center;
    background: rgb(185, 238, 237)
}

.blockquote-footer {
    height: 30px;
    padding: 5px;
    background: #e9ecef;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #e9ecef;
    color: #666666;
    text-align: center;
    padding:20px;
}

/* h5 {
    color: #666666;
} */
/* contact styling */
label {
    color: #fff;
}

/* unvisited link */
a:link {
    color: #eee;
}

/* visited link */
a:visited {
    color: aqua;
}

/* mouse over link */
a:hover {
    color: #e9ecef;
}

/* selected link */
a:active {
    color: #666666;
}

.card-img-top {
    height: 200px;
}