/* index.html  */

/* content styling */
body {
    background: url(../images/brushed_alu_dark.png);
}

p {
    color: #fff;  
}

.jumbotron {
    height: 175px;
}

.blockquote {
    text-align: center;
    background: rgb(185, 238, 237)
}

.blockquote-footer {
    height: 30px;
    padding: 5px;
}

footer {
    height: 60px;
    background: #e9ecef;
    color: #666666;
    text-align: center;
    padding:20px;
}


/* contact styling */
label {
    color: #fff;
}